h3 {
    color: green;
    font-size: 20px;
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}